*.h5
test_result/best_model_FNO_Heat_MSE.pth
test_result/best_model_FNO_Heat_JAC.pth
*.png
*.pth
*.tar.gz
torch-cfd/
JAXFLUIDS/
data/lettuce/
data/true_k_50_50_5000.csv
data/train_y_100_100_1000.csv
data/true_j_100_100_1000.csv
data/test_x_100_100_600.csv
data/test_y_100_100_600.csv
data/train_x_100_100_1000.csv
data/train_y_60_60_1000.csv
data/train_x_60_60_1000.csv
pyadjoint/
test/GCS/
test/GCS_npy/
plot/GCS_plot/training_JAC/
plot/GCS_plot/training_JAC_transposed/
data/
FNO-NF.jl/
gen_sample/
plot/Burger_plot/
plot/GCS_channel_onestep/
plot/GCS_channel_plot_epoch2000/
plot/GCS_channel_plot_lambda=0.1_data=750/
plot/GCS_channel_plot_lambda=0.5_data=750/
practice/
