*.h5
test_result/best_model_FNO_Heat_MSE.pth
test_result/best_model_FNO_Heat_JAC.pth
*.pth
*.npz
*.tar.gz
*.jld2
*.csv
torch-cfd/
JAXFLUIDS/
data/lettuce/
data/true_k_50_50_5000.csv
data/train_y_100_100_1000.csv
data/true_j_100_100_1000.csv
data/test_x_100_100_600.csv
data/test_y_100_100_600.csv
data/train_x_100_100_1000.csv
data/train_y_60_60_1000.csv
data/train_x_60_60_1000.csv
pyadjoint/
test/GCS/
test/GCS_npy/
plot/GCS_plot/training_JAC/
plot/GCS_plot/training_JAC_transposed/
data/
FNO-NF.jl/
plot/Burger_plot/
plot/GCS_channel_onestep/
plot/GCS_channel_plot_epoch2000/
plot/GCS_channel_plot_lambda=0.1_data=750/
plot/GCS_channel_plot_lambda=0.5_data=750/
practice/
plot/GCS_channel_vec_1/
plot/GCS_channel_vec_3/
plot/GCS_channel_vec_5/
plot/GCS_channel_vec_7/
plot/GCS_channel_vec_10/training/JAC_train=50/
plot/GCS_channel_vec_10/*.png
!plot/GCS_channel_vec_10/
plot/GCS_channel_vec_10/training/JAC/*.png
!plot/GCS_channel_vec_10/training/JAC/
plot/GCS_channel_vec_15/
plot/GCS_plot/
plot/Heat_plot/
plot/Loss/checkpoint/*.png
plot/NS_plot/
plot/Phase_plot/
src/*.png
test/PINO_NS/
test/practice/
test_result/beamer_files/
test_result/GCS/
test_result/GCS_200/
test_result/GCS_prev/
test_result/notes/
test_result/results_ML4seismic/
test_result/Time/*
!test_result/Time/
test_result/*.txt
test_result/*.png
!gen_sample/num_obs_20/
gen_sample/GCS_sample/*.png
!gen_sample/GCS_sample/
gen_sample/GCS_partial/both_0_100.0/*.png
!gen_sample/GCS_partial/both_0_100.0/
gen_sample/NS_sample/
gen_sample/GCS_sample_prev/
