/*-- scss:defaults --*/

// fonts
// @import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap';
@import 'https://fonts.googleapis.com/css2?family=Heuristica:wght@400&family=Atkinson+Hyperlegible&display=swap';


// $font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-sans-serif: "Heuristica", 'Source Sans Pro', sans-serif;
$presentation-heading-color: #979797;
$presentation-title-slide-text-align: "left";
$presentation-subtitle-slide-text-align: "left";
$code-block-font-size: 0.6em;
$code-color: #5f5f5f;
$presentation-h2-font-size: 1.4em;

/*-- scss:rules --*/

/*-- scss:defaults --*/

// $font-family-sans-serif: Heuristica, 'Source Sans Pro', sans-serif;
// $presentation-h1-font-size: 50px !default;
// $presentation-h2-font-size: 60px !default;
// $presentation-h3-font-size: 50px !default;
// $presentation-font-size-root: 36px !default;
// $presentation-heading-color: #979797 !default;

// $body-bg: #111 !default;
// $presentation-block-margin: 12px !default;
// $panel-sidebar-padding: 0px;


/*-- scss:rules --*/

// .reveal .slide-background-content {
//   background: url("../../../../../assets/basic_bg.png");
//   background-size: contain;
//   background-repeat: no-repeat;
// }

#title-slide {
  text-align: left; // Center-align the text within the title slide section
  color: #FFF;
  top: 0 !important;
  margin-top: 80px;
  height: 100%;
  width: 100%;
}

#title-slide h1 {
  color: #000; // Adjust color as needed
  font-size: 1.4em; // Adjust the size to make it smaller
  width: auto; // Set to auto to allow it to fit the content width
  display: inline-block; // Makes the title's width only as wide as the content, for better centering
  margin: 0 auto; // Center the title horizontally
  width: 90%;
}

.reveal #title-slide .authors {
  position: absolute;
  bottom: 30%;
  left: 50%; // Move the authors to the center horizontally
  transform: translateX(-50%); // Center-align the authors' section
  text-align: center; // Center-align text within the authors section
  font-size: 1.2em; // Adjust font size for the author names
}

.reveal #title-slide .authors td {
  text-align: center;
  width: 10%;
  font-size: 5px;
}

.reveal #title-slide h1 {
  color: #000;
}


.reveal .slides {
  margin-right: 10%;
  margin-left: 0px;
}

.reveal.smaller .slides h2, .reveal .slides section.smaller h2 {
font-size: var(--r-heading2-size);
}

.reveal .slide ul li, .reveal .slide ol li {
  margin-top: 0.6em !important;
  margin-bottom: 0.4em !important;
}


.reveal .slide ul ul li,
.reveal .slide ol ol li,
.reveal .slide ol ul li,
.reveal .slide ul ol li {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}


.reveal ol ul {
  list-style-type: square;
}

.reveal ul {
  list-style-type: "▶ ";
}

figcaption, .caption {
   text-align: center;
   font-size: 1em !important;
}

.semi-transparent {
  opacity: 0.5;
}

.copyright-holder {
  position: absolute;
  bottom: 20px;
  display: block;
  width:100%;
}

.copyright-holder p {
  color: black;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.copyright-holder p a {
  color: #1f78b4;
}

.reveal .slide-number span {
  font-size: 36px;
}


// @font-face {
//   font-family: Heuristica;
//   font-style: normal;
//   font-weight: 400;
//   src: url(../../../../../assets/fonts/heuristica-regular.eot);
//   src: url(../../../../../assets/fonts/heuristica-regular.eot?#iefix) format('embedded-opentype'),url(../../../../../assets/fonts/heuristica-regular.ttf) format('truetype')
// }

// @font-face {
//   font-family: Heuristica;
//   font-style: normal;
//   font-weight: 700;
//   src: url(../../../../../assets/fonts/heuristica-bold.eot);
//   src: url(../../../../../assets/fonts/heuristica-bold.eot?#iefix) format('embedded-opentype'),url(../../../../../assets/fonts/heuristica-bold.ttf) format('truetype')
// }

// @font-face {
//   font-family: Heuristica;
//   font-style: italic;
//   font-weight: 400;
//   src: url(../../../../../assets/fonts/heuristica-italic.eot);
//   src: url(../../../../../assets/fonts/heuristica-italic.eot?#iefix) format('embedded-opentype'),url(../../../../../assets/fonts/heuristica-italic.ttf) format('truetype')
// }

// @font-face {
//   font-family: Heuristica;
//   font-style: italic;
//   font-weight: 700;
//   src: url(../../../../../assets/fonts/heuristica-bolditalic.eot);
//   src: url(../../../../../assets/fonts/heuristica-bolditalic.eot?#iefix) format('embedded-opentype'),url(../../../../../assets/fonts/heuristica-bolditalic.ttf) format('truetype')
// }